.CalcContainer {
  text-align: center;
  width: 1000 px;
  margin:auto;
}

.CalcDisplay {
  height: 40px;
  font-size: 2em;
  background: black;
  color: white;
}

.ButtonContainer {
  display: flex;
  flex: 0 1 100%;
  flex-wrap: wrap;
}

.CalcButton {
  display: flex;
  flex: 0 1 25%;
  font-size: 2em;
  justify-content: center;
}